.footer {
    background-color: #34495e;
    color: #ffffff;
    padding: 8px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.2);
  }
  
  .footer-text {
    margin: 0;
    font-size: 1rem;
    font-weight: 300;
  }
  